{% extends 'layout.html' %}
{% block body %}
<div >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li>
                    <h3>Welcome {{user['given_name']}}!</h3>
                </li>
            </ul>
            <a href="/google/logout">
                <button class="btn btn-danger mx-3">Logout</button>
            </a>
            <img src="{{user['picture']}}" alt="" width="36" height="36">
        </div>
    </nav>

    <div class="">
        <button type="button" class="btn btn-success m-2" data-toggle="modal" data-target="#add_new_project">Add New Project</button>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col-md-1">No</th>
                <th scope="col-md-3">Name</th>
                <th scope="col-md-3">Property Url</th>
                <th scope="col-md-3">Country</th>
                <th scope="col-md-2">More</th>
                </tr>
            </thead>
            <tbody id="project_list_">
                {% for project in projects %}
                    <tr>
                        <form action = {{ url_for('project_module.view', id=project.id ) }}>
                            <th scope="row" name="project_id" >{{ loop.index }}</th>
                            <td>{{ project.project_name }}</td>
                            <td>{{ project.property_url }}</td>
                            <td>{{ project.country }}</td>
                            <td>
                                <button type="submit" class="btn btn-outline-dark btn-sm">View</button>
                                <a href={{ url_for('project_module.delete', id=project.id ) }} class="btn btn-outline-danger btn-sm">Delete</a>
                                <a class="btn btn-outline-info btn-sm" data-toggle="modal" data-target= {{ "#edit_project{}".format(project.id) }}>Edit</a>
                            </td>
                        </form>
                        <div class="modal fade" id={{ "edit_project{}".format(project.id) }}  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action={{ url_for('project_module.edit', id=project.id ) }}>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="project_name">Project Name</label>
                                            <input type="text" class="form-control" name="project_name" placeholder="New project name" required value="{{ project.project_name }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="property_url">Property Url</label>
                                            <input type="text" class="form-control" name="property_url" placeholder="e.g. http://example.com" required value="{{ project.property_url}}" >
                                        </div>
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <br />
                                            <select class="form-control countrypicker border rounded" name="country" data-default="{{ project.country }}"></select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="add_new_project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add new project</h5>
            <button type="button" class="close" data-dismiss="modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="add_form" action={{ url_for('project_module.add') }}>
        <div >
            <div class="modal-body">
                <div class="form-group">
                    <label for="project_name">Project Name</label>
                    <input type="text" class="form-control" name="project_name" placeholder="New project name" required>
                </div>
                <div class="form-group">
                    <label for="property_url">Property Url</label>
                    <select class="form-control border rounded" name="property_url" >
                        {% for property_url in property_urls %}
                            <option value={{ property_url }}>{{ property_url }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <br />
                    <select class="form-control countrypicker border rounded" value="USA" data-role="country-selector" name="country" data-code-mode="alpha3"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add_btn" type="submit" class="btn btn-primary" >Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        </form>

        </div>
    </div>
</div>
<script src='/static/js/project_list.js'></script>
{% endblock %}
