{% extends 'layout.html' %}
{% block body %}
<div>
    <div class="">
        <div class='text-right'><a href="/project/" class="btn btn-link">
                < Back </a> </div> <div>
                    <p>Project name: <b>{{ project.project_name }}</b></p>
                    <p>Property url: <b>{{ project.property_url }}</b></p>
                    <form action={{ url_for('project_module.load', id=project.id ) }}>
                        <div class="form-group">
                            <label for="reportrange">Date Range </label>
                            <input id="reportrange" class="col-md-3 d-inline-block border-1"></input>
                            <input id="daterange" name="daterange" style="display:none;" />
                            <button type="submit" class="btn-outline-dark btn-sm mt-2 d-inline-block">Load</button>
                        </div>
                    </form>
        </div>
    </div>

    <h3 class="text-center">Google Adwords</h3>
    <div class="">
        <div class="row">
            <div id="filter-panel" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body m-1">
                        <form class="form-inline" role="form" action={{url_for('project_module.view', id=project.id )}}>
                            <div class="form-group mr-1">
                                <label class="filter-col mr-2" for="pref-perpage">Advanced Sort: </label> <input
                                    name="weighted" type="checkbox" checked data-toggle="toggle" data-offstyle="info"
                                    data-size="sm">
                            </div>
                            <div class="form-group">
                                <label class="filter-col mr-2" for="pref-perpage">Rows per page: </label>
                                <select id="pref-perpage" name="perf-page" class="form-control" value={{ per_page }}>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <Label class='m-1'> Position: </Label> <input name="pos_st" style="display: inline-block;"
                                    class='col-md-2 form-control form-control-sm m-1' type="number" value={{ pos_st }}> - <input
                                    name='pos_ed' style="display: inline-block;"
                                    class='col-sm-2 form-control form-control-sm m-1' type="number" value={{ pos_ed }}>
                            </div>
                            <div class="form-group">
                                <label class='m-1'> Conversion Rate: </label> <input name='con_st'
                                    style="display: inline-block;" class='col-md-2 form-control form-control-sm m-1'
                                    type="number" value={{ con_st }}> - <input name='con_ed' style="display: inline-block;"
                                    class='col-sm-2 form-control form-control-sm m-1' type="number" value={{ con_ed }}>
                            </div>
                            <div class="form-group float-right">
                                <button class="btn btn-outline-dark btn-sm" type="submit" >Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#filter-panel">
                <span class="glyphicon glyphicon-cog"></span> Advanced Option
            </button>
        </div>
    </div>


    <table id="overview" class="table table-hover mt-2">
        <thead>
            <tr>
                <th scope="col-md-2">No</th>
                <th scope="col-md-6">Search Term</th>
                <th scope="col-md-4">Average Position</th>
                <th scope="col-md-4">Average CPC</th>
                <th scope="col-md-4">Conversions</th>
                <th scope="col-md-4">Conversion Value</th>
                <th scope="col-md-4">Conversion Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for row in joined_data.items %}
            <tr>
                <th scope="row" name="">{{ loop.index }}</th>
                <td>{{ row.search_terms }}</td>
                <td>{{ "%.1f"|format(row.position) if row.position else "0.0" }}</td>
                <td>${{ "%.1f"|format(row.avg_cpc) if row.avg_cpc else "0.0" }}</td>
                <td>{{ row.conversions }}</td>
                <td>{{ row.conversion_value }}</td>
                <td>{{ row.conversion_rate }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="float-right mb-3">
        <div>
            {% if joined_data.has_prev %}
            <a class="btn btn-outline-dark"
                href="{{ url_for('project_module.view', 
                    id=project.id, 
                    page_num=joined_data.prev_num, 
                    per_page=per_page, 
                    pos_st=pos_st, 
                    pos_ed=pos_ed,
                    con_st=con_st,
                    con_ed=con_ed )}}">Prev</a>
            {% endif %}
            {% for page in joined_data.iter_pages(2, 1, 1, 2) %}
            {% if page %}
            <a class="btn btn-outline-dark"
                href="{{ url_for('project_module.view', 
                    id=project.id, 
                    page_num=page,
                    per_page=per_page, 
                    pos_st=pos_st, 
                    pos_ed=pos_ed,
                    con_st=con_st,
                    con_ed=con_ed 
                )}}">{{ page }}</a>
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% if joined_data.has_next %}
            <a class="btn btn-outline-dark"
                href="{{ url_for('project_module.view', 
                    id=project.id, 
                    page_num=joined_data.next_num, 
                    per_page=per_page, 
                    pos_st=pos_st, 
                    pos_ed=pos_ed,
                    con_st=con_st,
                    con_ed=con_ed
                )}}">Next</a>
            {% endif %}
        </div>
    </div>
</div>
<script src='/static/js/project_detail.js'></script>
{% endblock %}