{% extends 'layout.html' %}
{% block body %}
<div>
    <div class="container">
        <a href="/" class="btn btn-link"> Back </a>
        <p>Project name: <b>{{ project.project_name }}</b></p>
        <p>Property url: <b>{{ project.property_url }}</b></p>
        <form action={{ url_for('project_module.view_project', id=project.id ) }}>
            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;"
                class="col-md-3">
                <i class="fa fa-calendar d-inline-block"></i>&nbsp;
                <input name="daterange" class="w-75 mw-100 d-inline-block border-0"></input> <i class="fa fa-caret-down"></i>
            </div>
            <button type="submit" class="btn-outline-dark btn-sm mt-2 d-inline-block">New Load</button>
        </form>
    </div>

    <h3 class="text-center">Google Adwords</h3>
    <table id="overview" class="table table-hover">
        <thead>
            <tr>
                <th scope="col-md-2">No</th>
                <th scope="col-md-6">Search Term</th>
                <th scope="col-md-4">Average Position</th>
                <th scope="col-md-4">Average CPC</th>
                <th scope="col-md-4">Conversions</th>
                <th scope="col-md-4">Conversion Value</th>
                <th scope="col-md-4">Conversion Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for row in joined_data %}
            <tr>
                <th scope="row" name="">{{ loop.index }}</th>
                <td>{{ row.search_terms }}</td>
                <td>{{ "%.1f"|format(row.position) if row.position else "0.0" }}</td>
                <td>${{ "%.1f"|format(row.avg_cpc) if row.avg_cpc else "0.0" }}</td>
                <td>{{ row.conversions }}</td>
                <td>{{ row.conversion_value }}</td>
                <td>{{ row.conversion_rate }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
